/*=============================================
			Theme Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-stars span:after,
.tg-navigation > ul > li > a:hover,
.tg-navigation > ul > li:hover > a,
.tg-navigation ul li.tg-active > a,
.sub-menu > li > a:hover,
.tg-slidercontent h1,
.tg-addnav li a:hover,
.tg-addnav li a:hover i,
.tg-socialicons li a:hover,
.tg-socialicons li a:hover i,
.tg-themecolor,
.tg-headerholder .tg-addnav li i,
.tg-headerholder .tg-addnav .tg-socialicons li a:hover,
.tg-headerholder .tg-addnav .tg-socialicons li a:hover i,
.tg-headervseven .tg-formsearch button,
.tg-logoandtopbar .tg-addnav li > i,
.tg-logoandtopbar .tg-addnav li > a > i,
.tg-logoandtopbar .tg-addnav li .tg-socialicons li a:hover,
.tg-logoandtopbar .tg-addnav li .tg-socialicons li a:hover i,
.tg-headervnine .tg-contactinfo li i,
.tg-headervnine .tg-contactinfo li a:hover,
.tg-headervnine .tg-addnav > li > a i,
.tg-headervnine .tg-addnav > li .tg-socialicons li a:hover,
.tg-headervnine .tg-addnav > li .tg-socialicons li a:hover i,
.tg-homeslidervnine .tg-slidercontent h1,
.tg-headervten .tg-headerholder .tg-addnav > li a:hover,
.tg-headervten .tg-addnav > li .tg-socialicons li a:hover,
.tg-headervten .tg-addnav > li .tg-socialicons li a:hover i,
.tg-homesliderveleven .tg-formheadholder .tg-formicon i,
.tg-homesliderveleven .tg-slidercontent h1,
.tg-headerveleven .tg-formsearch button,
.tg-calltoactiontextbox h2 span,
.tg-footernav ul li a:hover,
.tg-widgetcontent ul li a:hover,
.tg-formnewsletter p span,
.tg-feature:nth-child(odd) .tg-featureicon,
.tg-themeposttitle:hover h3,
.tg-themeposttitle:hover h3 a,
.tg-whychooseicon,
.tg-eventpostinfoicon,
.tg-subscribenewsletter .tg-formnewsletter button,
.tg-footervseven .tg-footertobar .tg-contactinfoicon,
.tg-footervseven .tg-footertobar .tg-contactinfoicon i,
.tg-footerveight .tg-footercolumn .tg-contactinfoicon i,
.tg-footerveight .tg-formnewsletter button,
.tg-footervten .tg-subscribetext h2,
.tg-coursesvtwo .tg-totalcourses .tg-themeposttitle h3 span,
.tg-experties,
.tg-pkgplanhead h3,
.tg-blogpostvtwo .tg-date span,
.tg-testimonialsvthree .tg-testimonial blockquote q span,
.tg-testimonialsvthree .tg-testimonialinfo span,
.tg-eventpostsvthree .tg-eventpostinfo li i,
.tg-eventpostsvthree .tg-eventpostinfo li em,
.tg-tabnavsuccess ul li a i,
.tg-listiconhalfround li:before,
.tg-formreadytohelpyou .tg-btn i,
.tg-membertitle h3,
.tg-membertitle h3 a,
.tg-servicetitle h3 a,
.tg-listiconpin li:before,
.tg-formonlinecoursevthree .tg-formheadholder .tg-formicon,
.tg-btnplaybig,
.tg-btnplaybig i,
.tg-service figure figcaption .tg-serviceicon,
.tg-service figure figcaption h3,
.tg-service figure figcaption h3 a,
.tg-secretcontent h3,
.tg-subscribearea .tg-subscribetext h2,
.tg-blogpostvfive .tg-post .tg-themepostmetadata li i,
.tg-specialfeatures .tg-featureicon,
.tg-contentbox .tg-whychoosetitle h3 a,
.tg-statisticvthree .tg-statisticicon,
.tg-statisticvthree .tg-statisticicon i,
.tg-Portfoliovfive .tg-btnlike:hover,
.tg-Portfoliovfive .tg-btnview:hover,
.tg-Portfoliovfive .tg-btnlike:hover i,
.tg-Portfoliovfive .tg-btnview:hover i,
.tg-calltoactioicon i,
.tg-testimonialsvsix .tg-testimonial blockquote span,
.tg-testimonialsvsix .tg-testimonialinfo h3,
.tg-blogpostvsix .tg-post .tg-themeposttitle h3 a,
.tg-blogpostvsix .tg-post .tg-themepostmetadata i,
.tg-blogpostvsix .tg-post .tg-themepostcontent > a:hover,
.tg-blogpostvseven .tg-post .tg-themeposttitle h3 a,
.tg-blogpostvseven .tg-post .tg-themepostmetadata i,
.tg-blogpostvseven .tg-post .tg-themepostcontent > a:hover,
.tg-themetabnav li a:hover,
.tg-themetabnav li.active a,
.tg-statisticvfour .tg-statisticicon i,
.tg-testimonialsvseven .tg-testimonialinfo h3,
.tg-testimonialsvseven .tg-testimonial blockquote span,
.tg-pagetitle h1,
.tg-404errorcontent h1,
.tg-pagination ul li a:hover,
.tg-pagination ul li a:focus,
.tg-pagination ul li a:active,
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover i,
.tg-pagination ul li a:focus i,
.tg-pagination ul li a:active i,
.tg-pagination ul li.tg-active a i,
.tg-widgetcontentwithcount ul li:before,
.tg-checkout .tg-shippingbox ul li .tg-radio input[type=radio]:checked + label,
.tg-checkout .tg-shippingbox ul li .tg-radio input[type=radio]:checked + label:before,
.tg-eventdetailinfo .tg-description p span,
.tg-blogdetailblockqout q span,
.tg-liststyle li:before,
.tg-slidercontent .tg-btns .tg-btn:hover,
.tg-statisticvfive .tg-statistic .tg-statistictitle,
.tg-teammembersvfive .tg-member figure figcaption .tg-membercontent .tg-socialicons li a:hover,
.tg-teammembersvfive .tg-member figure figcaption .tg-membercontent .tg-socialicons li a:hover i,
.tg-blogpostvright .tg-post .tg-themepostmetadata li i,
.tg-statisticsvsix .tg-titlecounter h3,
.tg-blogpostvten .tg-post .tg-themepostmetadata li i,
.tg-blogpostveleven .tg-post .tg-themepostmetadata li i,
.tg-whychooseeducationholder .tg-whychooseeducationicon i,
.tg-whychooseeducator li .tg-iconbox i,
.tg-headervnine .tg-navigation > ul > li > a:hover,
.tg-headervnine .tg-navigation > ul > li:hover > a,
.tg-headervnine .tg-navigation > ul > li.tg-active > a,
.tg-headervten .tg-headerholder .tg-navigation > ul > li > a:hover,
.tg-headervten .tg-headerholder .tg-navigation > ul > li:hover > a,
.tg-headervten .tg-headerholder .tg-navigation > ul > li.tg-active > a,
.tg-headerveleven .tg-navigation > ul > li > a:hover,
.tg-headerveleven .tg-navigation > ul > li:hover > a,
.tg-headerveleven .tg-navigation > ul > li.tg-active > a{color: #ffc722;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btn:after,
.tg-theme-tag,
.tg-headervthree .tg-navigation > ul > li:hover > a,
.tg-headervthree .tg-navigation > ul > li > a:hover,
.tg-headervthree .tg-navigation > ul > li.tg-active > a,
.tg-btn:hover,
.tg-formonlinecourse .tg-btn,
.tg-formhead,
.tg-btnsearch,
.tg-homeslidervfive .tg-slidercontent h1 span,
.tg-headervfive .tg-navigationarea,
.tg-headerholder .tg-logo,
.tg-headerholder .tg-formtheme button,
.tg-headerveight .tg-formsearch button,
.tg-formheadholder .tg-formicon,
.tg-headervnine .tg-formsearch,
.tg-headervnine .tg-formsearch:before,
.tg-homeslidervnine .tg-slidercontent h1 span,
.tg-homeslidervten .tg-slidercontent h1 span,
.tg-homesliderveleven .tg-formhead,
.tg-languagesdropdown a,
.tg-homeslidervtwelve > .item > figure,
.tg-headervthirteen .tg-navigationandsearch .tg-formsearch button,
.tg-searchareaholder .tg-formsearch,
.tg-footerwidgettitle:before,
.tg-formnewsletter button,
.tg-footercolumn .tg-socialicons li a:hover,
.tg-footerwidgettitle:before,
.tg-subscribetext,
.tg-subscribetext:before,
.tg-date,
.tg-footertobar .tg-contactinfovtwo,
.tg-footervfour .tg-footerbar,
.tg-footervfive .tg-footerbar,
.tg-footervsix .tg-footertobar,
.tg-footervsix .tg-footerbar,
.tg-subscribenewsletter,
.tg-subscribe,
.tg-footervten .tg-footerbar,
.tg-addressslider,
.tg-footerveleven .tg-footerbar,
.tg-feature:nth-child(even),
.tg-courseprice,
.tg-themeposticon,
.tg-slidernavstyleOne .owl-nav > div:hover,
.tg-masonrygrid figure figcaption,
.tg-sectionheadvtwo:before,
.tg-sectionheadvtwo h2:before,
.tg-rounddots .owl-dot span:hover,
.tg-rounddots .owl-dot.active span,
.tg-post .tg-themepostimg figcaption,
.tg-footervseven .tg-footertobar,
.tg-footerveight .tg-footerbar,
.tg-Portfoliovtwo .tg-optionset,
.tg-seeall .tg-themepostimg figcaption h3,
.tg-pkgplanheadholder:before,
.tg-pkgprice,
.tg-pkgplanfooter a:hover,
.tg-coursecategory .tg-themepostimg figcaption,
.tg-whychooseusholder .tg-whychooseicon,
.tg-availablecourseparallax .tg-btnprev:hover,
.tg-availablecourseparallax .tg-btnnext:hover,
.tg-testimonialsvthree .tg-sectionheadvtwo:after,
.tg-testimonialsvthree .tg-sectionheadvtwo h2:after,
.tg-blogpostvfour .tg-post .tg-themepostmetadata,
.tg-appstore:hover i,
.tg-themecollapse h3:hover:before,
.tg-themecollapse h3.open:before,
.tg-servicesvone .tg-serviceicon,
.tg-tabnavsuccess ul li:hover,
.tg-tabnavsuccess ul li.active,
.tg-formreadytohelpyou .tg-btn,
.tg-skillbar,
.tg-quoteicon,
.tg-ourmission figure .tg-title,
.tg-member figure figcaption .tg-membercontent,
.tg-Portfoliovfour .tg-navfilterbale li a:hover,
.tg-Portfoliovfour .tg-navfilterbale li a.tg-active,
.tg-calltoactionvtwo .tg-calltoactiontextbox .tg-btn,
.tg-secreticon i,
.tg-subscribearea,
.tg-testimonailarea .tg-testimonialslider,
.tg-specialfeaturesvtwo,
.tg-specialfeaturesvtwo:before,
.tg-specialfeaturesvtwo:after,
.tg-whychooseusareavfour .tg-whychooseus .tg-contentbox:hover figcaption,
.tg-statisticvthree .tg-statistic figure figcaption,
.tg-Portfoliovfive .tg-optionset,
.tg-calltoactioicon,
.tg-themetabnavvone li a:before,
.tg-featuresvthree .tg-feature .tg-contentbox .tg-title,
.tg-testimonialsvseven .owl-dot:hover span,
.tg-testimonialsvseven .owl-dot.active span,
.tg-breadcrumbspagename,
.tg-guestinstructor .tg-themepostimg figcaption,
.tg-form404error fieldset .tg-btn,
.tg-formcontactus .tg-btn,
.tg-btnaddtocart,
.tg-productsorting,
.tg-widgettitle,
.ui-slider-horizontal .ui-slider-range,
.tg-btnavailabilty .tg-btn,
.tg-producttabnav li a:hover,
.tg-producttabnav li.active a,
.tg-btncontinueshopping,
.tg-couponcode .form-group .tg-btn,
.tg-texandshipping .tg-btn,
.tg-proceedtocheckout .tg-btn,
.tg-historyicon,
.tg-historydetailbox,
.tg-portfolioleftbox h2,
.tg-portfolioinfo,
.tg-navtabs li:hover a,
.tg-navtabs li.active a,
.tg-formrequest .tg-btn,
.tg-contacthead,
.tg-formleavecomments .tg-btn,
.tg-cscountercontent span + span,
.tg-formsubscribe fieldset .tg-btn,
.tg-eventpostinfo li .tg-btn,
.tg-comingsooncounter ul li .tg-holder h4,
.tg-formtheme fieldset .form-group .tg-btn,
.tg-bestserviceicon i,
.tg-specialfeaturesvthree .tg-specialfeature:hover,
.tg-loveableclientsarea .tg-textbox,
.tg-loveableclientsarea .tg-textbox:before,
.tg-homeslidervtwo .tg-searcharea .tg-formsearch fieldset button,
.tg-homeslidervthree .owl-dot:hover span,
.tg-homeslidervthree .owl-dot.active span,
.tg-bestserviceicon,
.tg-icontitle > span,
.tg-ourmissionvthre.owl-carousel .owl-dot.active span,
.tg-homeslidervnine .tg-homeslidernav > div:hover,
.tg-headervnine .tg-formsearch:before,
.tg-specialfeaturesvfive .tg-videobox figure,
.tg-addresplussearch .tg-formsearch,
.tg-icon,
.tg-secretoursuccess:before,
.tg-themetabnavvtwo li.active a,
.tg-themetabnavvtwo li:hover a,
.tg-teammembersvsix .tg-sectionhead,
.tg-teammembersvsix .tg-sectionhead:before,
.tg-teammembersvsix .tg-sectionhead:after,
.tg-calltoactionvfour .tg-calltoactiontextbox .tg-btn,
.tg-pkgplansvthree .tg-pkgplanfooter a,
.tg-categorybox figure figcaption .tg-box,
.tg-loveyoursuccessimg figcaption,
.tg-loveyoursuccessimg figcaption > i,
.tg-webelieveourquality li .tg-iconbox ,
.tg-callbox,
.tg-stickwithusicon,
.tg-whychooseeducationholder,
.tg-tabnavamazingfeatures ul li:hover a,
.tg-tabnavamazingfeatures ul li.active a,
.navbar-toggle,
.tg-headervone .navbar-toggle,
.tg-headervtwo .navbar-toggle,
.tg-headervfour .navbar-toggle,
.tg-headervfive .navbar-toggle span{background:#ffc722;}
.tg-bgthemecolor{background-color:#ffc722;}
.tg-coursecounterparallax,
.tg-brandsparallax,
.tg-coursesvtwo .tg-themepostimg figcaption,
.tg-statisticsparallax,
.tg-coursecategory .tg-themepostimg:hover figcaption,
.tg-ourmissionsholder,
.tg-service:hover figure figcaption,
.tg-statistic figure figcaption,
.tg-aboutparallax,
.tg-teammembersvfour .tg-member .tg-membercontent,
.tg-addressdetailvtwo .tg-address .tg-icon,
.tg-portfoliotabcontent figure figcaption,
.tg-homeslidervtwo .tg-slidercontent:before,
.tg-parallaxbgcolor.tg-subscribearea,
.tg-teammembersvsix .tg-member figure figcaption .tg-membercontent .tg-socialicons,
.tg-teammembersvsix .tg-member figure figcaption .tg-membercontent .tg-experties,
.tg-parallaxbgthemecolor,
.tg-secretleftholder,
.tg-homeslidervtwelve figure figcaption{background: rgba(255, 199, 34, 0.90);}
.tg-addresssliderarea,
.tg-history ul:before{background: rgba(255, 199, 34, 0.50);}
/*=============================================
			Theme Border Color
=============================================*/
input:focus,
.tg-select select:focus,
.form-control:focus,
.tg-btn:hover,
.tg-formonlinecourse .tg-btn,
.tg-homeslidervfive .tg-slidercontent .tg-btns .tg-btn:hover,
.tg-headerholder .tg-logo:before,
.tg-homeslidervnine .tg-slidercontent .tg-btns .tg-btn:hover,
.tg-homeslidervten .tg-slidercontent .tg-btns .tg-btn:hover,
.tg-searchandlanguages,
.tg-headerveleven .tg-formsearch,
.tg-footercolumn .tg-socialicons li a:hover,
.tg-subscribetext:after,
.tg-eventpostinfoicon,
.tg-footertobar:before,
.tg-footertobar:after,
.tg-footervseven .tg-footerbar,
.tg-footervnine .tg-footerbar,
.tg-instructor .tg-themepostimg figcaption,
.tg-formonlinecoursevtwo .tg-formhead,
.tg-blogpostvtwo .tg-date,
.tg-appstore:hover,
.tg-themecollapsecontent,
.tg-formreadytohelpyou .tg-btn,
.tg-formreadytohelpyou .tg-btn:hover,
.tg-statistic figure,
.tg-calltoactionvtwo .tg-calltoactiontextbox .tg-btn,
.tg-secreticon,
.tg-email:before,
.tg-testimonial figure,
.tg-testimonialsvsix .owl-carousel .owl-nav .owl-prev,
.tg-testimonialsvsix .owl-carousel .owl-nav .owl-next,
.tg-themetabnavvone li a:after,
.tg-servicesfive .tg-specialfeatures .tg-featureicon,
.tg-featuresvthree .tg-feature,
.tg-guestinstructor:hover .tg-contentbox,
.tg-form404error fieldset .tg-btn,
.tg-shareon,
.tg-formcontactus .tg-btn,
.tg-addressdetailvtwo .tg-address,
.tg-pagination ul li a:hover,
.tg-pagination ul li a:focus,
.tg-pagination ul li a:active,
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover i,
.tg-pagination ul li a:focus i,
.tg-pagination ul li a:active i,
.tg-pagination ul li.tg-active a i,
.tg-budgetslider + .tg-amount + .tg-btn:hover,
.tg-btnavailabilty .tg-btn,
.tg-navtabs li:hover,
.tg-navtabs li.active,
.tg-navtabs li.active a,
.tg-formrequest .tg-btn,
.tg-formleavecomments .tg-btn,
.tg-formsubscribe fieldset .tg-btn,
.tg-eventpostinfo li .tg-btn,
.tg-blogdetailblockqout q span,
.tg-amazingfeatures .tg-tabnavsuccess,
.tg-formtheme fieldset .form-group .tg-btn,
.tg-loveableclientsarea .tg-textbox:after,
.tg-blogpostvright .tg-post .tg-themepostcontent,
.tg-statisticsvsix .tg-statisticicon,
.tg-homeslidervnine .tg-homeslidernav > div:hover,
.tg-bestservicesvtwo .tg-bestservice,
.tg-themetabnavvtwo li.active,
.tg-themetabnavvtwo li:hover,
.tg-teammemberssection .tg-teammembersvsix .tg-member figure figcaption .tg-membercontent,
.tg-calltoactionvfour .tg-calltoactiontextbox .tg-btn,
.tg-tabnavamazingfeatures{border-color: #ffc722;}
.tg-footertobar:before,
.tg-footertobar:after{border-color: #ffc722 !important;}