@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon283c.eot?uuoip0');
	src: url('../fonts/icomoon283c.eot?uuoip0#iefix') format('embedded-opentype'),
		 url('../fonts/icomoon283c.ttf?uuoip0') format('truetype'),
		 url('../fonts/icomoon283c.woff?uuoip0') format('woff'),
		 url('../fonts/icomoon283c.svg?uuoip0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-hours-delivery:before {content: '\e900';}
.icon-affiliate-marketing:before {content: '\e901';}
.icon-atom:before {content: '\e902';}
.icon-atom2:before {content: '\e903';}
.icon-bills-and-coins:before {content: '\e904';}
.icon-binary-code:before {content: '\e905';}
.icon-book:before {content: '\e906';}
.icon-books-piled:before {content: '\e907';}
.icon-bricks:before {content: '\e908';}
.icon-browser-download-symbol-in-a-circle:before {content: '\e909';}
.icon-Business-Vector-Icon-Set:before {content: '\e90a';}
.icon-businessman:before {content: '\e90b';}
.icon-businessman-with-helmet:before {content: '\e90c';}
.icon-business-plan:before {content: '\e90d';}
.icon-businesswoman:before {content: '\e90e';}
.icon-button-with-cross-stitch:before {content: '\e90f';}
.icon-calculator-interface-symbol:before {content: '\e910';}
.icon-circular-graphic-of-business-cycle-or-circuit:before {content: '\e911';}
.icon-cloud-dark-shape:before {content: '\e912';}
.icon-coding:before {content: '\e913';}
.icon-computer-cpu:before {content: '\e914';}
.icon-constructor1:before {content: '\e915';}
.icon-constructor-with-hard-hat-protection-on-his-head:before {content: '\e916';}
.icon-dollars-symbol-for-money:before {content: '\e917';}
.icon-Education_001_SchoolBus:before {content: '\e918';}
.icon-Education_002_Compass:before {content: '\e919';}
.icon-Education_003_Piano:before {content: '\e91a';}
.icon-Education_004_GraduateCap:before {content: '\e91b';}
.icon-Education_005_Sertificate:before {content: '\e91c';}
.icon-Education_006_RugbyBall:before {content: '\e91d';}
.icon-Education_007_AtomicStructure:before {content: '\e91e';}
.icon-Education_008_Basketball:before {content: '\e91f';}
.icon-Education_009_EducationQuiz:before {content: '\e920';}
.icon-Education_010_Microscope:before {content: '\e921';}
.icon-Education_011_Reward:before {content: '\e922';}
.icon-Education_012_SchoolBell:before {content: '\e923';}
.icon-Education_013_Tube:before {content: '\e924';}
.icon-Education_014_Briefcase:before {content: '\e925';}
.icon-Education_015_Globe:before {content: '\e926';}
.icon-Education_016_Whiteboard:before {content: '\e927';}
.icon-Education_017_Calculator:before {content: '\e928';}
.icon-Education_018_Laptop:before {content: '\e929';}
.icon-Education_019_MathSymbols:before {content: '\e92a';}
.icon-Education_020_Triangle:before {content: '\e92b';}
.icon-Education_021_Book:before {content: '\e92c';}
.icon-Education_022_Bell:before {content: '\e92d';}
.icon-Education_023_Telescope:before {content: '\e92e';}
.icon-Education_024_Abacus:before {content: '\e92f';}
.icon-Education_025_Notepad:before {content: '\e930';}
.icon-Education_026_HighSchool:before {content: '\e931';}
.icon-Education_027_Chemistry:before {content: '\e932';}
.icon-Education_028_MagnifyingLens:before {content: '\e933';}
.icon-Education_029_Glasses:before {content: '\e934';}
.icon-Education_030_PencilAndRuler:before {content: '\e935';}
.icon-Education_031_ReadingBook:before {content: '\e936';}
.icon-Education_032_Bookshelf:before {content: '\e937';}
.icon-Education_033_File:before {content: '\e938';}
.icon-Education_034_Clip:before {content: '\e939';}
.icon-Education_035_Hourglass:before {content: '\e93a';}
.icon-Education_036_MolecularStructure:before {content: '\e93b';}
.icon-Education_037_Graph:before {content: '\e93c';}
.icon-Education_038_SquareRoot:before {content: '\e93d';}
.icon-Education_039_DNAStrand:before {content: '\e93e';}
.icon-Education_040_AlarmClock:before {content: '\e93f';}
.icon-Education_041_Tribune:before {content: '\e940';}
.icon-Education_042_Folder:before {content: '\e941';}
.icon-Education_043_Button:before {content: '\e942';}
.icon-Education_044_Compass:before {content: '\e943';}
.icon-Education_045_Calendar:before {content: '\e944';}
.icon-Education_046_Notes:before {content: '\e945';}
.icon-Education_047_Football:before {content: '\e946';}
.icon-Education_048_TheoryOfRelativity:before {content: '\e947';}
.icon-Education_049_CartesianCoordinateSystem:before {content: '\e948';}
.icon-Education_050_Puzzle:before {content: '\e949';}
.icon-Education_051_Oscilloscope:before {content: '\e94a';}
.icon-Education_052_ReadingLamp:before {content: '\e94b';}
.icon-Education_053_Scissors:before {content: '\e94c';}
.icon-Education_054_SolarSystem:before {content: '\e94d';}
.icon-Education_055_Editable:before {content: '\e94e';}
.icon-Education_056_Cube:before {content: '\e94f';}
.icon-Education_057_Basket:before {content: '\e950';}
.icon-Education_058_Volleyball:before {content: '\e951';}
.icon-Education_059_Backpack:before {content: '\e952';}
.icon-Education_060_BabyABCCubes:before {content: '\e953';}
.icon-Education_061_Cup:before {content: '\e954';}
.icon-Education_062_Headphones:before {content: '\e955';}
.icon-Education_063_CameraWithFlash:before {content: '\e956';}
.icon-Education_064_VideoInBrowser:before {content: '\e957';}
.icon-Education_065_Typewriter:before {content: '\e958';}
.icon-Education_066_School:before {content: '\e959';}
.icon-Education_067_Keyboard:before {content: '\e95a';}
.icon-Education_068_Mouse:before {content: '\e95b';}
.icon-Education_069_Whistle:before {content: '\e95c';}
.icon-Education_070_WriteByHand:before {content: '\e95d';}
.icon-Education_071_Tennis:before {content: '\e95e';}
.icon-Education_072_Sight:before {content: '\e95f';}
.icon-Education_073_Scales:before {content: '\e960';}
.icon-Education_074_Magnet:before {content: '\e961';}
.icon-Education_075_SchoolDesk:before {content: '\e962';}
.icon-Education_076_Projector:before {content: '\e963';}
.icon-Education_077_Binoculars:before {content: '\e964';}
.icon-Education_078_Idea:before {content: '\e965';}
.icon-Education_079_Chess:before {content: '\e966';}
.icon-Education_080_Printer:before {content: '\e967';}
.icon-Education_081_Bookmark:before {content: '\e968';}
.icon-Education_082_ColorPalette:before {content: '\e969';}
.icon-Education_083_StudentHead:before {content: '\e96a';}
.icon-Education_084_Owl:before {content: '\e96b';}
.icon-Education_085_DiplomaRoll:before {content: '\e96c';}
.icon-Education_086_Skeleton:before {content: '\e96d';}
.icon-Education_087_Thermometer:before {content: '\e96e';}
.icon-Education_088_Cell:before {content: '\e96f';}
.icon-Education_089_PlanetWithSatellite:before {content: '\e970';}
.icon-Education_090_Brain:before {content: '\e971';}
.icon-Education_091_Stopwatch:before {content: '\e972';}
.icon-Education_092_Target:before {content: '\e973';}
.icon-Education_093_Field:before {content: '\e974';}
.icon-Education_094_WebCamera:before {content: '\e975';}
.icon-Education_095_Wiring:before {content: '\e976';}
.icon-Education_096_Sinusoid:before {content: '\e977';}
.icon-Education_097_Ammeter:before {content: '\e978';}
.icon-Education_098_AlcoholBurner:before {content: '\e979';}
.icon-Education_099_Funnel:before {content: '\e97a';}
.icon-Education_100_Chair:before {content: '\e97b';}
.icon-engineer-wearing-hard-hat-with-suit-and-tie:before {content: '\e97c';}
.icon-envelope-with-pencil:before {content: '\e97d';}
.icon-female-professor-reading-a-book:before {content: '\e97e';}
.icon-firewall:before {content: '\e97f';}
.icon-global:before {content: '\e980';}
.icon-graphic-desig:before {content: '\e981';}
.icon-growth:before {content: '\e982';}
.icon-handyman-tools:before {content: '\e983';}
.icon-headphones:before {content: '\e984';}
.icon-hook:before {content: '\e985';}
.icon-hosting:before {content: '\e986';}
.icon-inclined-rocket:before {content: '\e987';}
.icon-library:before {content: '\e988';}
.icon-lightbulb-interface-symbol:before {content: '\e989';}
.icon-line-chart:before {content: '\e98a';}
.icon-mail-send:before {content: '\e98b';}
.icon-maths-class-materials-cross-of-a-pencil-and-a-ruler:before {content: '\e98c';}
.icon-Medal1:before {content: '\e98d';}
.icon-medal2:before {content: '\e98e';}
.icon-Medal3:before {content: '\e98f';}
.icon-medal-with-number-one:before {content: '\e990';}
.icon-multiple-users-silhouette:before {content: '\e991';}
.icon-music-player:before {content: '\e992';}
.icon-newspaper:before {content: '\e993';}
.icon-notes:before {content: '\e994';}
.icon-online-store-shopping-cart:before {content: '\e995';}
.icon-paintbrush:before {content: '\e996';}
.icon-paper-plane:before {content: '\e997';}
.icon-pc-computer-with-monitor:before {content: '\e998';}
.icon-pen-filled-writing-tool:before {content: '\e999';}
.icon-photo:before {content: '\e99a';}
.icon-pie-chart:before {content: '\e99b';}
.icon-pie-chart2:before {content: '\e99c';}
.icon-pie-chart-in-a-circle:before {content: '\e99d';}
.icon-pistons-cross:before {content: '\e99e';}
.icon-play-player-button-of-video:before {content: '\e99f';}
.icon-point-eye:before {content: '\e9a0';}
.icon-power-button:before {content: '\e9a1';}
.icon-protection-shield:before {content: '\e9a2';}
.icon-quill-drawing-a-line:before {content: '\e9a3';}
.icon-responsive-design-symbol:before {content: '\e9a4';}
.icon-round-speech-bubbles:before {content: '\e9a5';}
.icon-scheme:before {content: '\e9a6';}
.icon-settings-cog:before {content: '\e9a7';}
.icon-shopping-cart-moving-symbol:before {content: '\e9a8';}
.icon-shopping-support:before {content: '\e9a9';}
.icon-soccer-ball:before {content: '\e9aa';}
.icon-stack-of-square-papers:before {content: '\e9ab';}
.icon-stopwatch-tool-to-control-test-time:before {content: '\e9ac';}
.icon-target:before {content: '\e9ad';}
.icon-teacher-giving-lecture:before {content: '\e9ae';}
.icon-teacher-with-laptop:before {content: '\e9af';}
.icon-time-left:before {content: '\e9b0';}
.icon-tool:before {content: '\e9b1';}
.icon-vector-line:before {content: '\e9b2';}
.icon-visible-circular-button:before {content: '\e9b3';}
.icon-volume:before {content: '\e9b4';}
.icon-web-development:before {content: '\e9b5';}
.icon-website-design-symbol:before {content: '\e9b6';}
.icon-wordpress-logo:before {content: '\e9b7';}
.icon-worker:before {content: '\e9b8';}
.icon-world-wide-black-symbol:before {content: '\e9b9';}
.icon-wrench:before {content: '\e9ba';}